<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteSphere</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>QuickNote: Jot Your Thoughts</h1>
        <div class="note-container">
            <textarea class="note-input" placeholder="Write your note here..."></textarea>
            <button class="add-btn">Add Note</button>
        </div>
        <ul class="note-list"></ul>
    </div>
    <script src="script.js"></script>
</body>
</html>
