<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteSphere</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/website_icon.png') }}">

    <link rel="stylesheet" href="../static/css styles/home_page.css">
</head>
<body>
  <header class="site-header">
    <div class="site-branding">
      <img class="website_icon" src="../static/images/website_icon.png">
      <p class="site-title">NoteSphere</p>
        
    </div><!-- .site-branding -->
      <nav id="site-navigation" class="main-navigation">
        <div class="menu-primary-container">
          <ul class="main-menu">
            {% if user.is_authenticated %}
            <li class="contact_us">
              <a href="#">Contact Us</a>
            <li class="home">
              <a href="/">Home</a>
            </li>
            <li class="logout">
              <a href="/logout">Logout</a>
            </li>
            
            {% else %}
            <li class="contact_us">
              <a href="#">Contact Us</a>
            <li class="home">
              <a href="/">Home</a>
            </li>
            <li class="login">
              <a href="/login">Login</a>
            </li>
            <li class="signup">
              <a href="/sign_up">Sign Up</a>
            </li>
            {% endif %}
  </ul></div>	</nav><!-- #site-navigation -->
    </header>

    <div class="container">
        <h1 class="container_header">Jot your thoughts with ease</h1>
        <p class="container_description">With NoteSphere, ensure your ideas are always at your fingertips. Start organizing your thoughts effortlessly today.</p>
        <button class="signup_now">Sign up now</button>
    </div>

    <div class="reviews">
      <h2>What people are saying</h2>
    <div class="reviews-container">
      <div class="review-container">
        <div class="border_left">
          <p class="review">If you’re not using NoteSphere, you’re missing out.</p>
          <span>Ahmed Taqi</span>
        </div>
      </div>
      <div class="review-container">
        <div class="border_left">
          <p class="review">If you’re looking for a cross-platform note-taking tool with just enough frills, it’s hard to look beyond NoteSphere.</p>
          <span>Zainab Ridwan</span>
        </div>
      </div>
      <div class="review-container">
        <div class="border_left">
          <p class="review">If you want a truly distraction-free environment then you can’t do better than NoteSphere for your note-taking needs.</p>
          <span>Mohamed_xy</span>
        </div>
      </div>
    </div>
    </div>
</body>
</html>
