<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteSphere</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/website_icon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css styles/notes_page.css') }}">

</head>
<body>
  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
          <button type="button" class="close_btn" data-dismiss="alert">
            x
          </button>
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
          {{ message }}
          <button type="button" class="close_btn" data-dismiss="alert">
            x
          </button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}
  <!-- Header section -->
  <header class="site-header">
    <div class="site-branding">
      <img class="website_icon" src="../static/images/website_icon.png">
      <p class="site-title">NoteSphere</p>
        
    </div>
    <!-- Navigation menu -->
      <nav id="site-navigation" class="main-navigation">
        <div class="menu-primary-container">
          <ul class="main-menu">
            <!-- Authentication check -->
            {% if user.is_authenticated %}
            <li class="contact_us">
              <a href="#">Contact Us</a>
            <li class="home">
              <a href="/">Home</a>
            </li>
            <li class="logout">
              <a href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="login">
              <a href="/login">Login</a>
            </li>
            <li class="signup">
              <a href="/sign_up">Sign Up</a>
            </li>
            {% endif %}
          </ul></div>	</nav>
  </header>
  <!-- Notes container -->
  <h1>Notes</h1>
  <div class="notes-container">
    <ul class="list_notes">
      {% for note in user.notes %}
      <li class="note_item">
        <div class="note-content">
          <p class="note_text">{{ note.text }}</p>
      </div>
        <button class="close_btn" onclick="deleteNote({{ note.id }})">x</button>
        
      </li>
      {% endfor %}
    </ul>
    <!-- Note form -->
    <form method="POST">
      <textarea name="note" id="note"></textarea>
      <div>
        <button class="submit">Add Note</button>
      </div>
  </div>

  <!-- External JavaScript libraries -->
  <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
  ></script>
    
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
  ></script>

  <script 
      type="text/javascript" 
      src="{{ url_for('static', filename='index.js') }}"
  ></script>
  
  </form>

</body>
</html>
