<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a NotSphere Account</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/website_icon.png') }}">
    <link rel="stylesheet" href="../static/css styles/sign_up.css">
    <link rel="stylesheet" href="../static/css styles/home_page.css">
</head>
<body>
  <form method="POST">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      {% if category == 'error' %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
          <button type="button" class="close_btn" data-dismiss="alert">
            x
          </button>
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
          {{ message }}
          <button type="button" class="close_btn" data-dismiss="alert">
            x
          </button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}
    <header class="site-header">
      <div class="site-branding">
        <img class="website_icon" src="../static/images/website_icon.png">
        <p class="site-title">NoteSphere</p>
          
      </div><!-- .site-branding -->
        <nav id="site-navigation" class="main-navigation">
          <div class="menu-primary-container">
            <ul class="main-menu">
              
              <li class="contact_us">
                <a href="#">Contact Us</a>
              <li class="home">
                <a href="/">Home</a>
              </li>        

    </ul></div>	</nav><!-- #site-navigation -->
      </header>
    <div class="signup_container">
        <div class="img_container">
          <!--<img class="website_icon" src="../static/images/website_icon.png">-->
          <h1>Sign Up</h1>
        </div>
        <form id="signup-form" class="signup_form">
            <div class="form-group">
              <input type="email" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="text" id="username" name="username" placeholder="Enter first name">
            </div>
            <div class="form-group">
              <input type="password" id="password1" name="password1" placeholder="Enter password">
            </div>
            <div class="form-group">
              <input type="password" id="password2" name="password2" placeholder="Confirm password">
            </div>
            <div class="button-container">
              <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </form>
</body>
</html>
